.contact-details-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #252532;
    border-radius: 0.65rem;
    border: 1px solid #535354;
    padding: 1.5rem;
    margin-bottom: 2rem;
    gap: 2rem;
}


.contact-details-card .icon{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background: #1a2634;
    border: 1px solid #535354;
    margin-bottom: 0.8rem;
}

.icon img{
    width: 1.8rem;
    height: auto;
    object-fit: contain;
}

.contact-details-card h6{
    font-size: 1.5rem;
    font-weight: bold;
}

.contact-details-card h4{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.3rem;
}