@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

*{
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --background:#f0f0f0;
  --backgound-fisrt : #fff;
  --color-first:#fff;
  --color-two:#100d34;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  color: rgb(28, 28, 28);
  background-color:  #f0f0f0;
}